<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Beer Grist Calculator</h1>
      </div>

      <form name="form" ng-controller="targets" novalidate>
        <div class="alert alert-danger"
             ng-if="!isValid()">
          <strong>Oh no!</strong> The percentages don't add up to 100.
        </div>
        
        <div class="form-group col-sm-4 has-feedback" bgc-show-errors>
          <label for="volume"
                 class="control-label">Volume</label>
          <div class="input-group">
            <input type="number"
                   class="form-control"
                   id="gallons"
                   name="gallons"
                   ng-model="targets.gallons"
                   ng-change="onChangeTargets()"
                   min="0"
                   required/>
            <div class="input-group-addon">Gal</div>
          </div>
          <p class="help-block">Enter a <strong>Volume</strong> greater than 0</p>
        </div>
        
        <div class="form-group col-sm-4 has-feedback" bgc-show-errors>
          <label for="gravity" class="control-label">Target Gravity</label>
          <div class="input-group">
            <input type="number"
                   class="form-control has-feedback has-error"
                   id="gravity"
                   name="gravity"
                   placeholder="1.045"
                   ng-model="targets.gravity"
                   ng-change="onChangeTargets()"
                   min=1
                   max=2
                   required/>
            <div class="input-group-addon">SG</div>
          </div>
          <p class="help-block">Enter a <strong>Gravity</strong> between
            1 and 2</p>
        </div>
        
        <div class="form-group col-sm-2 has-feedback" bgc-show-errors>
          <label for="efficiency" class="control-label">Target Efficiency</label>
          <div class="input-group">
            <input type="number"
                   class="form-control"
                   id="efficiency"
                   name="efficiency"
                   ng-model="targets.efficiency"
                   ng-change="onChangeTargets(form)"
                   min="1"
                   max="100"
                   required/>
            <div class="input-group-addon">%</div>
          </div>
          <p class="help-block">Enter an <strong>Efficiency</strong>
            between 1 and 100</p>
        </div>
      </form>
      
      <table class="table table-hover" ng-controller="grains">
        <tr>
          <th>Grain Type</th>
          <th>Weight</th>
          <th>Ratio</th>
          <th>Yield (PPG)</th>
          <th>Actions</th>
        </tr>
        <tbody>
          <tr ng-repeat="grain in grains.grains | orderBy:'percentage':true">
            <td>{{grain.type}}</td>
            <td>{{grain.weightLbs}} lbs : {{grain.weightOz | number:0}} oz</td>
            <td>{{grain.percentage}}%</td>
            <td>{{grain.ppg}}</td>
            <td>
              <button type="button"
                      class="btn btn-default btn-sm"
                      aria-label="Delete"
                      ng-click="deleteClicked(grain.id)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          <tr ng-if="grains.grains.length === 0">
            <td colspan="5">No grains added yet.</td>
          </tr>
          <tr class="table-footer" ng-class="{danger: !isValid()}">
            <td>Totals</td>
            <td>{{grains.totals.weightLbs}} lbs : {{grains.totals.weightOz | number:0}} oz</td>
            <td>{{grains.totals.percentage}}%</td>
            <td>{{grains.totals.gravityPts | number:0}} points</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>

      <form name="grainInputForm"
            ng-click="addClicked(grainInputForm)"
            ng-controller="grainInput"
            novalidate>
        <div class="form-group col-sm-3 has-feedback" bgc-show-errors>
          <label for="grainType"
                 class="control-label">Grain Type</label>
          <input type="text"
                 class="form-control"
                 id="grainType"
                 name="grainType"
                 placeholder="Two Row (US)"
                 ng-model="grainInput.type"
                 required/>
          <p class="help-block">Enter a <strong>Grain or Malt Type</strong></p>
        </div>

        <div class="form-group col-sm-3 has-feedback" bgc-show-errors>
          <label for="ratio"
                 class="control-label">Ratio (%)</label>
          <div class="input-group">
            <input type="number"
                   class="form-control"
                   id="ratio"
                   name="ratio"
                   placeholder="90"
                   ng-model="grainInput.percentage"
                   min="1"
                   max="100"
                   required/>
            <div class="input-group-addon">%</div>
          </div>
          <p class="help-block">Enter a <strong>Ratio</strong> between 1 and 100%</p>
        </div>

        <div class="form-group col-sm-3" bgc-show-errors>
          <label for="yield"
                 class="control-label">Yield (PPG)</label>
          <div class="input-group">
            <input type="number"
                   class="form-control"
                   id="yield"
                   name="yield"
                   placeholder="1.036"
                   ng-model="grainInput.ppg"
                   min="1"
                   max="2"
                   required/>
            <div class="input-group-addon">PPG</div>
          </div>
          <p class="help-block">Enter a <strong>Maximum PPG</strong> between 1
            and 2</p>
        </div>

        <div class="form-group col-sm-3">
          <label>&nbsp;</label>
          <div class="input-group">
            <button type="submit"
                    class="btn btn-primary"
                    ng-disabled="grainInputForm.$invalid">Add</button>
            <button type="reset" class="btn">Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
  </body>
</html>
